/*Main css*/

/* .tausta {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0f3fa+0,d8f0fc+35,b8e2f6+65,b6dffd+100 */
background: #e0f3fa; /* Old browsers */
background: -moz-linear-gradient(top, #e0f3fa 0%, #d8f0fc 35%, #b8e2f6 65%, #b6dffd 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #e0f3fa 0%,#d8f0fc 35%,#b8e2f6 65%,#b6dffd 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e0f3fa 0%,#d8f0fc 35%,#b8e2f6 65%,#b6dffd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 ); /* IE6-9 */
} */

/* .testi{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd53a+0,83c11f+50,9dd53a+100 */
background: #9dd53a; /* Old browsers */
background: -moz-linear-gradient(top, #9dd53a 0%, #83c11f 50%, #9dd53a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #9dd53a 0%,#83c11f 50%,#9dd53a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #9dd53a 0%,#83c11f 50%,#9dd53a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#9dd53a',GradientType=0 ); /* IE6-9 */
} */